.search-container {
    height: 114px;
    border-bottom: 1px solid rgba(15, 15, 16, 0.05);
    margin-bottom: 24px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}

.search {

    &__form {
        display: flex;
        gap: 12px;
    }

    &__image {
        width: 12px;
        height: 12px;
    }
}