.header {
    box-shadow: 0px 2px 22.5px 0px #1C1D1F0D;


    &-link {

        &--active {
            color: $black !important;
            display: flex !important;
            align-items: center;
            gap: 8px;

            &::after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background-color: $primary;
                border-radius: 100%;
            }
        }
    }
}