.header {
    box-shadow: 0px 2px 22.5px 0px #1C1D1F0D;

    &__logo {
        position: absolute;
        margin-left: 20px;
        height: 30px;
        text-decoration: none;
    }


    &-link {
        color: $gray;
        text-decoration: none;
        font-weight: 500;
    }

}