.vacancy-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;



    &__name {
        width: fit-content;
        color: $dark-primary;
        font-weight: 600;
        font-size: 20px;
    }

    &__salary {
        color: $black;
        font-weight: 400;
        font-size: 16px;
        width: fit-content;
    }

    &__experience {
        color: $gray;
        font-weight: 400;
        font-size: 14px;
    }

    &__employer {
        color: $gray;
        font-weight: 400;
        font-size: 14px;
    }

    &__area {
        color: $black;
        font-weight: 400;
        font-size: 16px;
    }

    &__link {
        color: $black;
        text-decoration: none;
    }
}