$primary: #4263EB;
$dark-primary: #364FC7;
$black: #0F0F10;
$gray: #0F0F1080;
$light-gray: rgba(15, 15, 16, 0.3);
$pre-light: rgba(15, 15, 16, 0.2);
$ultra-light: rgba(15, 15, 16, 0.1);
$bg: #F6F6F7;
$white: #FFFFFF;