:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #F6F6F7;

    // .mantine-Pill-remove {
    //     position: relative;

    //     &::after {
    //         content: url('./shared/images/x.svg');
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         display: block;
    //         width: 6px;
    //         height: 6px;
    //     }

    //     svg {
    //         position: absolute;
    //         opacity: 0;
    //     }

    // }
}